<div class="all">
<div class="page">
	
<div class="tete">
	<div class="logo">
		<img src="favicon.ico">
	</div>
	<div class="adress">
		LEADER INTERIM & SERVICES <br>
		OUEST FOIRE PARCELLE N°1 ROUTE DE L’AEROPORT - Dakar<br>
		Tel : 33 897 82 97/ 78 434 30 16<br>
		Email : infos@leaderinterime.com
	</div><br>
<br>
</div>
<h1>Contrat de Prestation de Services</h1>
ENTRE LES SOUSSIGNES : <br>
LEADER INTERIM & SERVICES, sis à OUEST FOIRE PARCELLE N°1 ROUTE DE L’AEROPORT - Dakar, représentée par son Chargée des Ressources Humaines,<br>

Ci-après dénommée la « Société», <br>
D’une part,<br>
ET<br>
ABDOU DIOP né (e) le 18 octobre 1989 à DAKAR, demeurant à 411 OUAGOU NIAYES 1 DAKAR CITE PORT  Dénommé le «Prestataire», 
D’autre part,<br>
Les parties conviennent de signer le présent contrat soumis aux clauses et conditions suivantes : <br><br>

Article 1 : Objet<br>
ABDOU DIOP Exécutera la prestation en qualité de TECHNICIEN TELEPHONE.<br><br>

Article 2 : Durée du Contrat <br>
Ce contrat est conclu pour une durée déterminée de 12 mois avec tacite reconduction et prend effet à compter de sa date de signature.<br><br>

Article 3 : Le lieu de la Prestation<br>
Le lieu d’exécution de la présente prestation est à INFOLOG DAKAR<br><br>

Article 4 : Modalités d’exécution des Prestations <br>
4.1.	Le prestataire s’engage à consacrer toute son attention, ses compétences et tous ses efforts à l’exécution du contrat.<br>
4.2.	Le prestataire respectera les lois et règlements applicables au contrat et les règles applicables à sa profession.<br><br>

Article 5 : Rémunération <br>
5.1.      La société devra rémunérer le prestataire pour les prestations fournies :<br><br>

-	Rémunération de base ………………179200   F CFA  <br>
-	Prime de transport …………………..20800   F CFA  <br>
-	BRS                          ………………….8960     F CFA  <br>
-	Rémunération nette …………………200000    F CFA  <br><br>

Article 6 : Clause particulière <br>
La société peut modifier les conditions dudit contrat (de l’article 1 jusqu’à l’article 5) sans que celle-ci puisse être considérée comme une modification substantielle.<br><br>

Article 7 : Différend<br>
Si une des parties venait à vouloir rompre ce présent contrat pour une raison quelconque, elle est tenue d’adresser une lettre de préavis de huit jours à compter de la date de réception de celle-ci.<br>
S’il survient un litige relatif à l’interprétation ou à l’exécution du contrat, les parties s’engagent à rechercher une solution à l’amiable. Si la médiation n’aboutit pas toutes les voies de droit seront employées.<br>
Fait à  LEADER INTERIM & SERVICES, le 01 septembre 2021<br><br>
<div class="flex">	<h4 class="gras">LE PRESTATAIRE</h4><h4 class="gras">LE MANAGER GENERAL</h4></div>
</div>
</div>
