.all{
	background-image: url("../../../../assets/affiche.jpg");
	background-repeat: no-repeat;
	height: 297mm;
	width: 210mm;
	background-size: contain;
}
.nom{
	position: absolute;
	top:45%;
	font-size: 300%;
	color: red;
	font-weight: bold;
	width: 100%;
	text-align: center;
	background-color: red;
}