:host{
    --blue:#425C59;
    --white:#fff;
    --grey:#f5f5f5;
    --black1:#222;
    --black2:#999;
}
.main{

    transition: 0.5s;
}
.main.active{
    width: calc(100% - 80px);
    left: 80px;
}
.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}
.toggle{
    position: relative;
    top: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}
.toggle i{
    font-size: 40%;
}
.toggle input{
    font-size: 40%;
}
.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search label{
    position: relative;
    width: 100%;
}
.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    outline: none;
    border: 1px solid var(--black2);
    font-size: 50%;
}
.search label i{
    top: 0;
    left: 10px;
    font-size: 1em;
}

/* Les cardBox */
.cardBox{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;

}
.cardBox .card{
    background: var(--white);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    width: 20%;
}
.cardBox .card .numbers{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--blue);  
}
.cardBox .card .cardName{
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
}
.cardBox .card .iconBox{
    font-size: 2em;
    color: var(--black2);
}
.cardBox .card:hover{
    background: var(--blue);
}
.cardBox .card:hover *{
    color: var(--white);
}

/* La partie concernant les details */
.details{
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    }
.details .recentOrders{
    display: grid;
    height: 50vh;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    overflow-y: scroll;
}
.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2{
    font-weight: 600;
    color: var(--blue);
}
.btn{
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}
.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thead td{
    font-weight: 600;
}
.details .recentOrders table tr{
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentOrders table tr:last-child{
    border-bottom: none;
}
.details .recentOrders table tbody tr:hover{
    background: var(--blue);
    color: var(--white);
}
.details .recentOrders table tr td{
    padding: 10px;
}
.details .recentOrders table tr td:last-child,
.details .recentOrders table tr td:nth-child(2){
    text-align: end;
}
.details .recentOrders table tr td:nth-child(3){
    text-align: center;
}
/* Les statuts des ventes */
.status{
    padding: 2px 4px;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.delivered{
    background: #8de02c;
}
.status.return{
    background: #f00;
}
.status.inprogress{
    background: #f00;
}
.status.pending{
    background-color: aqua;
}
/* Les clients recents */
.recentCustomers{
    display: grid;
    min-height: 20px;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    overflow-y: scroll;
    height: 50vh;
}
.recentCustomers .imgBx{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.recentCustomers .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recentCustomers table tr:hover{
    background: var(--blue);
    color: var(--white);
}
.recentCustomers table tr td{
    padding: 12px 10px;
}
.recentCustomers table tr td h4{
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2em;
}
.recentCustomers table tr td h4 span{
    font-size: 14px;
    color: var(--black2);
}
.recentCustomers table tr:hover td h4 span{
    color: var(--white);
}

/* Gestion responsive */
@media (max-width:991px){
    .navigation{
        left: -300px;
    }
    .navigation.active{
        left: 0;
    }
    .main{
        width: 100%;
        left: 0;
    }
    .main.active{
        left: 300px;
    }
    .cardBox{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:768px){
    .details{
        grid-template-columns: repeat(1,1fr);
    }
    .recentOrders{
        overflow-y: auto;
    }
    .status.inprogress{
        white-space: nowrap;
    }
}
@media (max-width:480px){
    .cardBox{
        grid-template-columns: repeat(1,1fr);
    }
    .cardHeader{
        font-size: 20px;
    }
    .user{
        min-width: 40px;
    }
    .navigation{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active{
        width: 100%;
        left: 0;
    }
    .toggle{
        z-index: 1001;
    }
    .main.active .toggle{
        position: fixed;
        right: 0;
        left: initial;
        color: var(--white);
    }
}
