<div class="main">
            <div class="topbar">
                <div class="toggle">
                </div>
                <div class="search">
                    <label for="">
                        <input type="text" placeholder="Entrez du texte">
                        <i name="search-outine"></i>
                    </label>
                </div>
                <!-- User image -->
                <div class="user">

                </div>
            </div>

            <!-- Cards -->
            <div class="cardBox"> 
                <div class="card">
                    <div>
                        <div class="numbers">100</div>
                        <div class="cardName">Vues Journalières</div>
                    </div>
                    <div class="iconBox">
                        <i class="fa-solid fa-eye"></i>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers">64</div>
                        <div class="cardName">Produits vendus</div>
                    </div>
                    <div class="iconBox">
                       <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers">13</div>
                        <div class="cardName">Produits ajoutés</div>
                    </div>
                    <div class="iconBox">
                        <i class="fa-solid fa-cart-plus"></i>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers">12350fr</div>
                        <div class="cardName">Revenu</div>
                    </div>
                    <div class="iconBox">
                        <i class="fa-solid fa-hand-holding-dollar"></i>
                    </div>
                </div>
            </div>

            <div class="details">
                <!--  La detaillee d'informations-->
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Recent Orders</h2>
                        <a href="#" class="btn"> Voir tout</a>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <td>Identifiant</td>
                                <td>Prix</td>
                                <td>Payment</td>
                                <td>Status</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Star refrigerator</td>
                                <td>$1200</td>
                                <td>Paye</td>
                                <td><span class="status pending">Pending</span></td>
                            </tr>
                            <tr>
                                <td>Star refrigerator</td>
                                <td>$1200</td>
                                <td>Paye</td>
                                <td><span class="status delivered">delivered</span></td>
                            </tr>
                            <tr>
                                <td>Star refrigerator</td>
                                <td>$1200</td>
                                <td>Paye</td>
                                <td><span class="status return">Return</span></td>
                            </tr>
                            <tr>
                                <td>Star refrigerator</td>
                                <td>$1200</td>
                                <td>Paye</td>
                                <td><span class="status inprogress">In progress</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Les clients recents -->
                <div class="recentCustomers">
                    <div class="cardHeader">
                        <h2>Recent Customers</h2>
                    </div>
                    <table>
                        <tr>
                            <td width="60px"><div class="imgBx"> <img src="../../assets/profil.jpeg" alt="photo de profil"></div></td>
                            <td><h4>David <br><span>Ndakarou</span></h4></td>
                        </tr>
                        <tr>
                            <td width="60px"><div class="imgBx"> <img src="../../assets/profil.jpeg" alt="photo de profil"></div></td>
                            <td><h4>David <br><span>Ndakarou</span></h4></td>
                        </tr>
                        <tr>
                            <td width="60px"><div class="imgBx"> <img src="../../assets/profil.jpeg" alt="photo de profil"></div></td>
                            <td><h4>David <br><span>Ndakarou</span></h4></td>
                        </tr>
                        <tr>
                            <td width="60px"><div class="imgBx"> <img src="../../assets/profil.jpeg" alt="photo de profil"></div></td>
                            <td><h4>David <br><span>Ndakarou</span></h4></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    <!-- <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> -->
