.submit-form {
  max-width: 50%;
  margin: auto;
}
.flex{
  display: flex;
  justify-content: space-between;
}

.form-control{
  width: 100%;
}

.form-group{
  width: 40%;
}

.list{
  height: 90vh;
  overflow-y: scroll;
  padding-bottom: 5%;
}
.list::-webkit-scrollbar {
display: none;
}

.buttons{
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 2%;
}
li{
  color: red;
}
li span{
  color: black;
  font-weight: bold;
}